<div class="lower-data">
    <div class="more-info-label">
      More Infomation
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold-temp.png" alt="">
          <span>Temperature</span>
        </div>
        <div class="info-block-value">
          {{data.current.temp_f}}º
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/hot-temp.png" alt="">
          <span>Feels like</span>
        </div>
        <div class="info-block-value">
          {{data.current.feelslike_f}}º
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/freezing.png" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{data.current.humidity}}º
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>Wind Speed</span>
        </div>
        <div class="info-block-value">
         {{data.current.wind_mph}} mph
        </div>
      </div>
    </div>
  </div>
